<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Lab 2</title> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="./scripts/index.js"defer></script>      
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <div id="form">
            <form id="chatbot-form" >
                <label>Enter a message:</label>
                <input type="text" id="chatbot-input">
                <button id="submit" type="submit">Submit</button>
              </form>
        </div>
       
          <div id="number-responses">

          </div>
    </body>

</html>